.navbar{
    background-color: #2678a8;
}
.landing-page-full{
    height:100%;
    background: #2678a8;
}
.landing-page-image{
    margin-top:110px;
}
.landing-page-text{
    font-family: 'Montserrat', sans-serif;
}
.nav_text a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.arrow {
    text-align: center;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .bounce a{
      text-decoration: none;
      color:#fff;
      font-size: 40px;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
body{margin:0;height:100%;}
canvas{
    position:absolute;top:0;left:0;
    background-color:none;
    z-index:99999;
}