.navbar{
    background-color: #2678a8;
}
.landing-page-full{
    height:100%;
    background: #2678a8;
}
.landing-page-image{
    margin-top:110px;
    height:30%;
}

.landing-page-text{
    font-family: 'Montserrat', sans-serif;
}
.nav_text a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.arrow {
    text-align: center;
    margin:0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-top:40px;
  }
  .bounce a{
      text-decoration: none;
      color:#fff;
      font-size: 40px;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
body{margin:0;height:100%;}
canvas{
    position:absolute;top:0;left:0;
    background-color:none;
}
/*The navbar animation*/
.brackets a:before, .brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px);
  color:#4d4d4d;
}

.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px);
  color:#4d4d4d;
}

.brackets a:hover:before, .brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
  background-color:transparent !important;
}

.navbar-item{
  padding: 1.00rem 1.25rem;
}

.button-register{
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #ffdd57;
  border-color:#14db7b;
}

.button-gradient{
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #ffffff;
  background-color: #4f72e6;
}

.button:hover, .button.is-hovered {
  color:#14db7b;
  border-color:#ffdd57; 
}

.column, .is-one-fifth {
  padding-bottom:3rem; 
}

.glow:hover {
  text-shadow:  0 0 10px #ffe600;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.plan-footer {
  overflow-x: auto;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.q-style{
  color:#95afba;
  font-size: 3rem;
  border-left:0.25rem solid #def2c8;
  padding-left: 1rem;
}
.a-style{
  color:#def2c8;
  font-size: 3rem; 
  border-left:0.25rem solid #95afba;
  padding-left: 1rem;
}
.td-style{
  background-color:#4f72e6;
  padding-bottom: 0rem;
  color:#a3cef1;
}

.tile.is-child {
  margin-left: 0.50rem !important; 
  margin-right: 0.50rem !important;
}
.land-text{
  color:#fff;
}
.landing-date {
  width:45%;
  margin-top:30px;
}
.landing-page-image1{
  margin-top:80px;
  height:33%;
}
@media screen and (max-width: 900px) {
  .land-text {
    font-size: 15px;
  }
  .landing-page-image {
    margin-top:100px;
  }
  .landing-page-image1 {
    margin-top:100px;
  }

}
@media screen and (min-width: 1000px) {
  .landing-page-image{
    height:29%;
    margin-top:90px
  }
  .landing-page-image1{
    height:29%;
    margin-top:90px
  }
  .land-text {
    font-size:17px;
  }
  .landing-date {
    width:35%;
  }
  
}
@media screen and (min-width: 1500px) {
  .landing-page-image{
    height:30%;
  }
  .landing-page-image1{
    height:33%;
  }
  .land-text {
    font-size: 30px;
  }
  .landing-date {
    width:40%;
  }
}
.container1 h2{
    font-family: Montserrat;
    font-weight: 400;
    max-width:800px;
    font-size:27px;
}